$base-color: #c6538c;
$white: #fff;
$accent-color: #00aa4f;
$second-color: #7269a6;
$theme-dark-bg: #000;
$theme-dark-text-color: #fff;
$card-bg-color: #F2F2F3;

$theme-light-bg: #fff;
$theme-light-text-color: #333;
$shadow-text-color: #2196f3;

$base-fonts: 'Montserrat';
